body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
}
.violet-color{
    color: #d610d6;
}
.link-button{
    text-decoration: none;
    background-color: #d610d6;
    background-image: linear-gradient(#d610d6, rgb(94, 25, 94));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.flexible-container{
    display: flex;
    
    margin-bottom: 150px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 30px 50px;
}
.patient-banner{
    background-image: url(images/patient-bg.png);
    background-repeat: no-repeat;
    padding-left: 100px;
    background-position:left;
}
    .experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }

.half-width{
    width: 50%;
    
}
.half-width img{
    width: 80%;
    
}

h1{
    font-size: 50px;
}

h3{
    font-size: 25px;
}

h2{
    font-size: 40px;
}
.experience-area-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    
}
#Marketer-border{
    border-top: 8px solid;
    border-image: linear-gradient(red,yellow);
    border-image-slice: 1;
}

#analysist-border{
    border-bottom: 8px solid;
    border-image: linear-gradient(red,yellow);
    border-image-slice: 1;

}
.footer{
    text-align: center;
}